html,
body {
  padding: 0;
  margin: 0;
  font-family: Source_Sans_pro;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}


@font-face {
  font-family: Source_Sans_pro;
  src: url(../Source_Sans_Pro/SourceSansPro-Regular.ttf);
}